@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Accueil</h1>
    <p>Apprenez-en plus sur <a href="https://docs.microsoft.com/aspnet/core">la création d'applications Web avec ASP.NET Core</a>.</p>
</div>
