@model CESI_CSharp_WebApp.Models.User

@{
    ViewData["Title"] = "Utilisateurs > Suppression d'un utilisateur";
}

<h1>Utilisateurs</h1>

<h4>Suppression de l'utilisateur N°@Html.DisplayFor(model => model.Id)</h4>
<div>
    <p>Êtes-vous sûr(e) de vouloir supprimer cet utilisateur ?</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Id)-->
            Identifiant
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            <!--@@Html.DisplayNameFor(model => model.LastName)-->
            Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            <!--@@Html.DisplayNameFor(model => model.FirstName)-->
            Prénom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer l'utilisateur" class="btn btn-danger" /> |
        <a asp-action="Index">Revenir à la liste</a>
    </form>
</div>
